html {
    background-image: url('https://www.itl.cat/pngfile/big/326-3261771_film-anonymous-mask-wallpaper-3d.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: Consolas;
    border: solid 5px;
    padding: 10px;
    background-color: black;
    border-radius: 7px;
    width: 670px;
    color: white;
}

.button {
    padding: 5px;
    width: 100px;
    height: 70px;
    background-color: black;
    border-radius: 7px;
    border: solid 5px;
    border-color: white;
    font-family: Consolas;
    margin-left: 40px;
    margin-top: 20px;
    color: white;
}

input {
    font-family: Consolas;
}
