body {
  font-family: Arial, sans-serif;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2c0d2a62-2de4-48bb-bbef-6dcc310b94e1/dh8u8f6-e1535372-0c5f-4025-90f8-ad91d098b84c.jpg/v1/fill/w_1024,h_615,q_75,strp/dark_mclaren_by_shamanx_dh8u8f6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJjMGQyYTYyLTJkZTQtNDhiYi1iYmVmLTZkY2MzMTBiOTRlMVwvZGg4dThmNi1lMTUzNTM3Mi0wYzVmLTQwMjUtOTBmOC1hZDkxZDA5OGI4NGMuanBnIiwiaGVpZ2h0IjoiPD02MTUiLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC8yYzBkMmE2Mi0yZGU0LTQ4YmItYmJlZi02ZGNjMzEwYjk0ZTFcL3NoYW1hbngtNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.Y3rmDk8e_9aa-lImWtLcBBbItau7kkhasZq_dXM-rvk");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Consolas;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 205px;
}

h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  margin-right: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.sidebar {
  background-color: #b2babb;
  width: 247px;
  height: 880px;
  border-radius: 10px;
  float: left;
  margin: 10px;
}

.content {
  background-color: #b2babb;
  width: 63%;
  height: 880px;
  border-radius: 10px;
  float: left;
  margin: 10px;
}

.text {
  font-family: Consolas;
  margin: 10px;
}

.link {
  text-decoration: none;
  margin: 5px;
  color: black;
}

.box {
  width: 99%;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fce94f3-deb1-4bf6-ba22-87b09ab741e7/dh90sug-f5e6a058-87dd-43e4-bb82-cece4b65b0c0.jpg/v1/fill/w_1194,h_669,q_70,strp/bobshiby_aicreation_759_by_wilb_digital_dh90sug-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmY2U5NGYzLWRlYjEtNGJmNi1iYTIyLTg3YjA5YWI3NDFlN1wvZGg5MHN1Zy1mNWU2YTA1OC04N2RkLTQzZTQtYmI4Mi1jZWNlNGI2NWIwYzAuanBnIiwiaGVpZ2h0IjoiPD03MTgiLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC8yZmNlOTRmMy1kZWIxLTRiZjYtYmEyMi04N2IwOWFiNzQxZTdcL3dpbGItZGlnaXRhbC00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.ZhvaOcRchVvvQSKx7__2V4TJXSXVBTq0vANZ8rVokNo");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.medium-box {
  width: 50%;
  height: 676px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
  float: left;
  border: solid 3px black;
}

.pass-button {
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: solid 2px black;
}

.pass-button:hover {
  background-color: #0056b3;
}

.pass-input {
  border: solid 2px black;
  padding: 5px;
  border-radius: 5px;
  margin-left: 125px;
}

#pass-form-box {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
  float: center;
  border: solid 3px black;
}
